{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}

{% if section.settings.scrollspy %}
  <div class="container-fluid bg-white" id="navigator">
    <div class="container d-flex justify-content-center align-items-center py-3">
      <h4>{{ section.settings.title }}</h4>

      <!-- Mobile -->
      <div class="dropdown d-lg-none ml-5">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="navigatorDropdownMenuButton"
          data-toggle="dropdown">
          Please select...
        </button>
        <div class="dropdown-menu" aria-labelledby="navigatorDropdownMenuButton">
          {% for block in section.blocks %}
          <a class="dropdown-item" href="#{{ block.settings.id }}">{{ block.settings.name }}</a>
          {% endfor %}
        </div>
      </div>

      <!-- Desktop -->
      <ul class="nav flex-fill justify-content-around d-none d-lg-flex">
        {% for block in section.blocks %}
        <li class="nav-item">
          <a class="nav-link" href="#{{ block.settings.id }}">
            <img src="{{ block.settings.icon | img_url: '16x16' }}">
            <span class="ml-1">{{ block.settings.name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

<section class="collection-list container" data-spy="scroll" data-target="#navigator" data-offset="0">
  {% for block in section.blocks %}
  {% if block.settings.reverse %}
  <div id="{{ block.settings.id }}" class="d-lg-flex flex-row-reverse mt-5">
    {% else %}
    <div id="{{ block.settings.id }}" class="d-lg-flex mt-5">
      {% endif %}
      <div class="d-flex align-items-start justify-content-center flex-shrink-0">
        <img src="{{ block.settings.hero_img | img_url: '500x500' }}">
      </div>
      {% if block.settings.reverse %}
      <div class="d-flex flex-column align-items-center mr-lg-5 collection-list-extended">
        {% else %}
        <div class="d-flex flex-column align-items-center ml-lg-5 collection-list-extended">
          {% endif %}
          <h4 class="text-center mt-5 mt-lg-0">{{ block.settings.headline }}</h4>
          <div class="row mt-5">
            <div class="col-4 d-flex flex-column align-items-center">
              <img src="{{ block.settings.feature_1_img | img_url: '100x100' }}">
              <p class="mt-3 text-center">{{ block.settings.feature_1_text }}</p>
            </div>
            <div class="col-4 d-flex flex-column align-items-center">
              <img src="{{ block.settings.feature_2_img | img_url: '100x100' }}">
              <p class="mt-3 text-center">{{ block.settings.feature_2_text }}</p>
            </div>
            <div class="col-4 d-flex flex-column align-items-center">
              <img src="{{ block.settings.feature_3_img | img_url: '100x100' }}">
              <p class="mt-3 text-center">{{ block.settings.feature_3_text }}</p>
            </div>
          </div>
          <h4 class="text-center mt-5">{{ block.settings.tagline }}</h4>
          <blockquote class="blockquote ml-5 text-center w-50 mt-5">
            <p class="mb-0">{{ block.settings.testimonial }}</p>
            <footer class="blockquote-footer">{{ block.settings.testimonial_author }}</footer>
          </blockquote>
        </div>
      </div>
      {% endfor %}
</section>
  
  {% schema %}
    {
      "name": "Collection list",
      "max_blocks": 12,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Collection list"
        },
        {
          "id": "scrollspy",
          "type": "checkbox",
          "label": "Show scrollspy"
        }
      ],
      "blocks": [
        {
          "type": "collection",
          "name": "Collection",
          "settings": [
            {
              "id": "id",
              "type": "text",
              "label": "id"
            },
            {
              "id": "name",
              "type": "text",
              "label": "Name"
            },
            {
              "id": "reverse",
              "type": "checkbox",
              "label": "Reverse"
            },
            {
              "type":"image_picker",
              "id":"icon",
              "label":"Icon"
            },
            {
              "label": "Collection",
              "id": "collection",
              "type": "collection"
            },
            {
              "id": "hero_img",
              "type": "image_picker",
              "label": "Hero Image"
            },
            {
              "id": "headline",
              "type": "text",
              "label": "Headline"
            },
            {
              "id": "tagline",
              "type": "text",
              "label": "Tagline"
            },
            {
              "id": "testimonial",
              "type": "text",
              "label": "Testimonial"
            },
            {
              "id": "testimonial_author",
              "type": "text",
              "label": "Testimonial Author"
            },
            {
              "id": "feature_1_img",
              "type": "image_picker",
              "label": "Feature 1 Image"
            },
            {
              "id": "feature_1_text",
              "type": "text",
              "label": "Feature 1 Text"
            },
            {
              "id": "feature_2_img",
              "type": "image_picker",
              "label": "Feature 2 Image"
            },
            {
              "id": "feature_2_text",
              "type": "text",
              "label": "Feature 2 Text"
            },

            {
              "id": "feature_3_img",
              "type": "image_picker",
              "label": "Feature 3 Image"
            },
            {
              "id": "feature_3_text",
              "type": "text",
              "label": "Feature 3 Text"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Collection list",
          "category": "Collection"
        }
      ]
    }
  {% endschema %}
